* {
    margin : 0;
    padding : 0;

}

#grid {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
   
    grid-gap: 10px;
}

#grid > div#left {
    position: relative;
    grid-column: 1;
    background: black;
    grid-row: 1/3;
    max-height: 100%;
}

#grid > div#left img {

    position: relative;
    width: 50%;
    
    left:50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 35%;
}


#grid > div#left img:last-child {

    position: absolute;
    width: 50%;
    bottom: -3%;
}

#right{
    display: grid;
    grid-column: 2/5;
    
}

#top-logo{
   /* position: absolute;*/

    height: 5%;
}

#container {
    width:4fr;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: auto;
    
}

.player {
    position: relative;
    min-height: 240px;
    max-height: 300px;
    min-width:280px;
    max-width:500px;
    margin: 5px 10px 5px 0px;
    background: #b341f9;
    border: 4px black solid;
}

.player > img {
    position: absolute;
    top : 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    min-height: 75%;
}


.player > span {
    position: absolute;
    top : 80%;
    left: 50%;
    transform: translate(-50%, 0%);  
}

.player > span.bottom-right {
    position: absolute;
    top : 78%;
    left: 90%;
}

#footer{
 position: relative;
 border: 2px black solid;
 
 display: grid;
 grid-column: 2/10;
 height: 50px;
 max-width: 1200px;
 min-width: auto;
}

#footer-logo {
   position: absolute;
   margin-left: 10px;
   line-height: 50px;

}

#footer-media {
    position: absolute;
    right: 2%;

}

#footer-media > img {
    margin: 4px 15px;

    
}


#reserve{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;

    transition: visibility 0s, opacity 0.5s linear;

}
#form {
    position: relative;

    display: grid;
    
    width:50%;
    max-width: 850px;
    min-width: 550px;
    height: 350px;
    min-height: 300px;
    max-height: 550px;

    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid black;
    background-color: #0096d6;
}

#form > label {
    display: grid;

    grid-column: 1/2;
}

.form-top {
    
    /*height: 10%;*/
    border-bottom: 4px solid black;
    margin-bottom: 3%;
}

.form-top > label {
    font-size: 1.5em;
    font-weight: bold;
    
    margin-left: 5px;
    line-height: 2.2em;
}


.form-top .exit-label {
    font-size: 4em;
    font-weight: bold;
    float: right;
    margin-right: 15px;
    line-height: 0.9em;

}

.form-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    font-size: 1.2em;
}

.form-left{
    display: grid;
    grid-column: 1/2;
}


.form-right{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column: 2/5;
    margin-left: 15px;
    margin-right: 15px;
}

.form-right > label{
    grid-column: 1;
    margin-bottom: 10px;

}



.form-right > input, select{
    grid-column: 2/5;
    margin-bottom: 10px;
}




.button-area{
    position: relative;
    width: 100%;
    height: 60%;
    grid-column: 2/3;
    grid-row: 2/3;
    
}

input.reject  {
    background: red;
    
    border: solid 2px black;
    width: 25%;
    height: 100%;
    float : right;
    margin-right: 15px;
    box-shadow: 3px 3px

}

input.success {
    background: #00e200;
   
    border: solid 2px black;
    width: 25%;
    height: 100%;
    float : right;
    margin-right: 16px;
    box-shadow: 3px 3px
}



.radio-group {
    grid-column: 2 / 5;
}

.radio {
    width: 32.5%;
    position: relative;
    float: left;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}

.radio input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.radio span {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.radio input:checked + span {
    background-color: #0096d6;
}